.container {
    display: flex;
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: .8em;
    align-items: center;
    margin-bottom: 10px;
}

.form-profile img {
    margin-bottom: 1em;
    border-radius: 50%;
    object-fit: cover;
}


.label-avatar {
    width: 280px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.label-avatar input {
    position: absolute;
    left: 500px;
}

.name {
    display: block;
}

.text-label {
    display: block;
    margin-bottom: .5em;
    font-size: 1.4em;
}

.form-profile input, textarea, select {
    margin-bottom: 1em;
    padding: .7em;
    border: 0;
    border-radius: 5px;
    width: 600px;
    font-size: 16px;
}

.form-profile input:disabled {
    cursor: not-allowed;
}

.profile-btn {
    display: block;
    margin-top: 18px;
    width: 20%;
    background-color: #181c2e;
    color: #EAEAEC;
    font-size: 18px;
    padding: 10px 0;
}

.profile-btn:hover {
    background-color: #2f375b;
}

.logout-btn {
    padding: 8px 20px;
    background-color: transparent;
    border: 1px solid #121212;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
